﻿<!DOCTYPE html>
<html>    
    
<body>
    <h3 align="center">Список контактов</h3>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <div class="container body-content">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Тимур Фролов</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
