﻿@model IEnumerable<MVC_EF.Models.tblContacts>

@{  
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<p>
    @Html.ActionLink("Создать новый контакт", "Create")
</p>

@using (Html.BeginForm("DeleteMultiple", "tblContacts", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>

        </th>
        <th >
            @Html.ActionLink("Имя", "Index", new { sortBy = ViewBag.SortNameParameter })
        </th>
        <th>
            @Html.ActionLink("Фамилия", "Index", new { sortBy = ViewBag.SortLnameParameter })
        </th>
        <th>
            @Html.ActionLink("Отчество", "Index", new { sortBy = ViewBag.SortTnameParameter })
        </th>
        <th>
            @Html.ActionLink("Дата рождения", "Index", new { sortBy = ViewBag.SortDobParameter })
        </th>
        <th>
            @Html.ActionLink("Пол", "Index", new { sortBy = ViewBag.SortGenderParameter })
        </th>
        <th>
            @Html.ActionLink("Возраст", "Index", new { sortBy = ViewBag.SortAgeParameter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <input type="checkbox" name="contactIdsToDelete" id="contactIdsToDelete" value="@item.Id" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Инфо", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<input type="submit"  value="Удалить выбранные" />
}
